<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EDIT SPACE</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href="css/ac.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-storage.min.js"></script>
    <script type="text/javascript" src="js/adminspacecontroller.js"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(window).load(function () {
                $("#content_6").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    theme: "dark-thick"
                });
                $("#content_7").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    theme: "dark-thick"
                });
                $("#content_8").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    advanced: {
                        updateOnContentResize: true
                    },


                    theme: "dark-thick"
                });
            });
        })(jQuery);

        function readmore(cid) {
            $('#longdetail' + cid).css("display", "block");
            $('#shortDetail' + cid).css("display", "none");

        }


        function hidemore(cid) {
            $('#shortDetail' + cid).show();
            $('#longdetail' + cid).hide();
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48216053-1', 'cxohonour');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var $scrollingDiv = $("#sidebar");

            $(window).scroll(function () { $scrollingDiv.stop().animate({ "marginTop": ($(window).scrollTop() - 150) + "px" }, "slow") });

        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $(window).load(function () {
                $("#content_6").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    theme: "dark-thick"
                 }); 
                //  scroll bar
                $("#content_7").mCustomScrollbar({
                    scrollButtons: {
                        enable: true
                    },
                    theme: "dark-thick"
                });
            });
        })(jQuery);
    </script>
    <script>
        $("#accordion > li").click(function () {
            $("#accordion li").removeClass("active");
            $(this).addClass("active");
            if (false == $(this).next().is(':visible')) {
                $('#accordion > ul').slideUp(300);
            }
            $(this).next().slideToggle(300);
        });

        $('#accordion > ul:eq(0)').show();
    </script>
</head>

<body>
    <div data-ng-app="SPACE" data-ng-controller="adminspacecontroller" ng-init="getID()">
        <div id="headbanner">
            <div id="navcontainer">
                <ul>
                    <li></li>
                    <li> <a href="https://plus.google.com/+Cxohonour8102014/" title="Google Plus" target="_blank"><img src="images/gplus.png" alt="CXHONOUR GOOGLE PLUS" width="30" height="31" ></a></li>
                    <li> <a href="https://www.linkedin.com/in/cxohonour-singapore-3b59a1b1" title="Linkedin" target="_blank"><img src="images/linkedin.png" alt="Linkedin" title="Linkedin" width="30" height="31"></a></li>
                    <li> <a href="https://www.facebook.com/cxohonour/" title="Facebook" target="_blank"><img src="images/facebook.png" width="30" height="31" alt="CFOHONOUR facebook"></a></li>
                    <li> <a href="https://twitter.com/Cxohonour" title="Twitter" target="_blank"><img src="images/twitter.png" width="30" height="31" alt="twitter" ></a></li>
                </ul>
            </div>
            <div id="header-main-menu">
                <ul>
                    <li><a class="" href="index.html">HOME</a></li>
                    <li><a class="menu_ancher dynamic_hover" href="addspacenew.html">ADD SPACE</a></li>

                </ul>
            </div>
        </div>

        <div id="sidebar" class="sidebar">
            <a href="index.html" target="_blank">
		<img class="sidebar_img1" src="images/service_now.jpg" height="180px" width="150px"/>
	</a>
        </div>

        <div id="advisorypanel">

            <br> <br>

            <div id="advisory_wrapper">
                <div class="advisory_panel_1">
                    <div class="get_in_touch mrgn_top">

                        <div class="contact_details_2 fl">


                        </div <br>

                    </div>
                    <div class="advisory_panel fl" style="height:auto; width:640px;">
                        <div class="contact_form fr dynamic_base_color" name="registration" id="registration" ng-repeat="x in detail">
                            
                            <form class="form-horizontal" ng-controller="adminspacecontroller" ng-submit='submit()'>
                                
                                <label>SpaceName</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.SpaceName}}"  type="text"  ng-model="x.SpaceName"><br>
                                
                                <label>SpaceDescription</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.SpaceDescription}}" type="text"  ng-model="x.SpaceDescription"><br>

                                <label>SpaceSize</label> 
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.SpaceSize}}"  type="text"  ng-model="x.SpaceSize"><br>
                                
                                <label>Pax</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.Pax}}"  type="text"  ng-model="x.Pax"><br>
                                
                                <label>SpacePricing</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.SpacePricing}}"  type="text"  ng-model="x.SpacePricing"><br>

                                <label>SpaceAmenities</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.SpaceAmenities}}" type="text"  ng-model="x.SpaceAmenities"><br>
                                
                                <label>SpaceImage</label>
                                <input onclick="this.select()" style="font-size: 15px;" placeholder="{{x.Img}}"  type="text"  ng-model="x.Img"><br>
                        
                                <input value="SUBMIT" style="margin-left: 10px;" name="submit" type="submit">

                            </form>

                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

            <div id="row6">
                <p> Payalabar</p>
                <p> Email: support@xyz.com</p>
                <p> Phone: 1800 000 000</p>
            </div>

            <div id="row7" style="">
                <p> Copyright 2017 SPACES. All Rights Reserved.</p>
            </div>

</body>
</html>